#Paradigmas de programación

In [ ]:
# @title Ingrese datos
nombre_estudiante = "Luis Felipe Rodriguez Sanchez" # @param {"type":"string"}
carnet = 1000109510 # @param {"type":"integer"}

# Laboratorio 2 - Python

# Ejercicio 5




## 1) Realizar los siguientes ejercicios usando sorted:

## a. Filtrar números pares y luego elevarlos al cuadrado.

In [10]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8]

resultado = list(
    map(lambda x: x**2,
        filter(lambda x: x % 2 == 0, numeros))
)

resultado

[4, 16, 36, 64]

## b. Dada una lista de numeros, elevar cada número al cubo, filtrar los mayores que 100, convertirlos a cadenas.

In [11]:
numeros = [2, 4, 5, 6, 8]

resultado = list(
    map(
        lambda x: str(x),
        filter(
            lambda x: x > 100,
            map(lambda n: n**3, numeros)
        )
    )
)

resultado

['125', '216', '512']

## c. Dada una lista de numeros, filtrar números mayores que 10, elevarlos al cuadrado, ordenarlos de mayor a menor.

In [12]:
numeros = [5, 12, 3, 20, 7, 11]

resultado = sorted(
    map(lambda x: x**2,
        filter(lambda n: n > 10, numeros)
    ),
    reverse=True
)

resultado

[400, 144, 121]