#Paradigmas de programación

In [ ]:
# @title Ingrese datos
nombre_estudiante = "Luis Felipe Rodriguez Sanchez" # @param {"type":"string"}
carnet = 1000109510 # @param {"type":"integer"}

# Laboratorio 2 - Python

# Ejercicio 4 - Sorted



## 1) Realizar los siguientes ejercicios usando sorted:

## a. Ordenas una lista de palabras alfabeticamente.

In [3]:
palabras = ["pera", "manzana", "uva", "banana"]
ordenadas = sorted(palabras)
ordenadas

['banana', 'manzana', 'pera', 'uva']

## b. Ordenar una lista de tuplas por el primer elemento.

In [4]:
tuplas = [(3, "a"), (1, "b"), (2, "c")]
ordenadas = sorted(tuplas, key=lambda x: x[0])
ordenadas

[(1, 'b'), (2, 'c'), (3, 'a')]

## c. Dada una lista de diccionarios, ordenar por precio (mayor a menor), y luego por nombre:

  productos = [
    
      ("Camisa", 30),
      ("Pantalón", 55),
      ("Medias", 10),
      ("Chaqueta", 80)
  ]

In [5]:
productos = [
    ("Camisa", 30),
    ("Pantalón", 55),
    ("Medias", 10),
    ("Chaqueta", 80)
]

ordenados = sorted(productos, key=lambda x: (-x[1], x[0]))
ordenados

[('Chaqueta', 80), ('Pantalón', 55), ('Camisa', 30), ('Medias', 10)]

## d. Dada una lista de palabras, ordenarlas según su longitud.

In [6]:
palabras = ["sol", "computador", "casa", "auto"]
ordenadas = sorted(palabras, key=len)
ordenadas

['sol', 'casa', 'auto', 'computador']

## e. Dada una lista de numeros, ordenarlos de tal forma que aparezcan primero los pares y luego los impares.

In [7]:
numeros = [3, 8, 5, 2, 7, 10]
ordenados = sorted(numeros, key=lambda x: (x % 2, x))
ordenados

[2, 8, 10, 3, 5, 7]

## f. Convertir una palabra a un diccinario que cuente la aparicion de cada letra, ordenar dicho diccionario según la frecuencia de aparicion.

In [8]:
from collections import Counter

palabra = "programacion"
conteo = Counter(palabra)

ordenado = sorted(conteo.items(), key=lambda x: x[1], reverse=True)
ordenado

[('r', 2),
 ('o', 2),
 ('a', 2),
 ('p', 1),
 ('g', 1),
 ('m', 1),
 ('c', 1),
 ('i', 1),
 ('n', 1)]

## g. Dada una lista de tuplas, ordenar la primero por el departamento del empleado y luego por la edad.

    empleados = [
      ("Maria", "Ventas", 30),
      ("Luis", "Tecnología", 25),
      ("Ana", "Ventas", 25),
      ("Pedro", "Tecnología", 28)
    ]

In [9]:
empleados = [
    ("Maria", "Ventas", 30),
    ("Luis", "Tecnología", 25),
    ("Ana", "Ventas", 25),
    ("Pedro", "Tecnología", 28)
]

ordenados = sorted(empleados, key=lambda x: (x[1], x[2]))
ordenados

[('Luis', 'Tecnología', 25),
 ('Pedro', 'Tecnología', 28),
 ('Ana', 'Ventas', 25),
 ('Maria', 'Ventas', 30)]